
.carttext h1{
    color: black;
    font-size: 35px;
    font-weight: 900;
    padding: 20px 0;
    font-family: cursive;
    padding-left: 15px;
    padding-right: 15px;
}
.carttext h2{
    font-family: cursive;
}