.continer{
    background-image: url('../assets/images/main.jpg');
    
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    
}
.text h1{
    color: white;
    padding-left: 10px;
}
.text p {
    color: white;
    padding-left: 30px;
}
 
/* .getStarted{
    background-color: greenyellow;
    color: white;
    border-radius: 20px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    border: none;
} */
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    background: greenyellow;
    border: 1px solid transparent;
    font-size: 15px;
    width: 180px;
    font-weight: bold;
    color: black;
  }
  
  button:hover {
    background: #c4e201;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }

  .Categories h1{
    color: black;
    font-size: 35px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: cursive;
  }

  .popularSancks h1{
    color: black;
    font-size: 35px;
    font-weight: 900;
    padding: 20px 0;
    font-family: cursive;
    margin-bottom: 20px;
  }

  .card {
    /* margin-left: 120px; */
    box-shadow: 5px 7px black;
  }

  .Images{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    margin-bottom: 50px;
    /* margin-right: 120px; */
  }
  
  .icons{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    margin-bottom: 60px;
  }
  
  .menutext h1{
    color: black;
    font-size: 35px;
    font-weight: 900;
    padding: 20px 0;
    font-family: cursive;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menuHome{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
     margin-bottom: 30px;
    /* margin-right: 50px; */
  }

  .menutext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .Seemore{
    margin-bottom: 30px;
  }


  @media screen and (max-width : 865px){
    .menuHome{
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }

  }
  @media screen and (max-width : 470px){
    .menuHome{
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
    .Images{
      flex-direction: column;
      align-items: center;
    }
    .icons{
      flex-direction: column;
      align-items: center;
    }
    .card{
      margin-bottom: 15px;
    }

  }